@font-face {
    font-family: 'Maison-Neue';
    src: url(fonts/Maison\ Neue\ Bold.ttf);
}
body{
    margin:0;
    padding:0;

}
.container{
    width:100%;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;
}
.border{
    width:100%;
    height:50px;
    background-color: black;
}
.border span{
    display:flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-top:15px;
    
}
.leftContainer{
    position: absolute;
    display: block;
    text-align: left;
    width: 800px;
    left: 15%;
    top:10%;

   
    
}

.leftContainer h1{
    font-size: 35px;
    text-transform: uppercase; 
}
.introContainer{
    display: block;
    font-size: 20px;
    
}


.taughtByContainer{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom:5%;
    
}
.taughtByP{
    color: gray;
    font-size: 14px;
}
.taughtByimage{
    display: flex;
    flex-direction: row;
}

.taughtByimage img{
    border-radius: 10px;
    width: 110px;
    height:80px;
}
.taughtByText{
    margin-left:2%;
}
.taughtByText h2{
    margin:0;
}
.taughtByText p{
  margin-top: 1%;
}
.learnContainer{
    border-bottom: 1px solid gray;
    padding-bottom: 5%;
}
.learnContainer h1{
    font-size:24px;
    margin-top:5%;
    margin-bottom:5%;
}
.learnItemsContainer{
    display:flex;
    flex-wrap: wrap;
}
.learnItemsContainer > div{
    flex:46%;
    margin-bottom: 3%;
    margin-left:2%;
}
.learnItem span{
    font-size: 18px;
}
.classOverviewContainer {
    margin-top:35px;
    border-bottom: 1px solid gray;
    padding-bottom:5%;
}
.classOverviewContainer h1{
    font-size:24px;
    margin-top:5%;
    margin-bottom:5%;
}

.classOverviewContainer p{
    color: gray;
    font-size: 14px;
    
}
.classOverviewText p{
    font-size: 18px;
    color:black;
}

.moreText{
    display: none;
}
.showMoreText{
    display:inline;
    

}
.readMoreBtn{
    font-family:'PT Serif', serif ;
    margin-left:5px;
    font-size: 16px;
    text-decoration: underline;
    padding:0;
    border:none;
    background:none;
    cursor:pointer;
    font-weight: bold;
}
.readLessBtn{
    font-family:'PT Serif', serif ;
    margin-left:5px;
    font-size: 16px;
    text-decoration: underline;
    padding:0;
    border:none;
    background:none;
    cursor:pointer;
    display: none;
    font-weight: bold;
}
.applyWhatYouLearnContainer{
    margin-top:5%;
    font-family: 'PT Serif', serif;
    border-bottom: 1px solid gray;
    padding-bottom:5%;

}
.applyWhatYouLearnContainer p{
    color: gray;
    font-size: 14px;
    font-family: 'PT Serif', serif;
    
}
#applyText{
    color:black;
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.whoContainer{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding-bottom:5%;
    
}

.whoContainer > div{
    
    display: flex;
    flex:100%;
    width:100%;
    border:0.1px solid gray;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 8px;
    align-items: center;
}

.whoContainer > div > div{
    display:flex;
    
}

.whoNum{
    flex:10%;
    justify-content: center;
    
}
.whoNum span{
    background-color: rgb(92, 92, 92);
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    width: 30%;
    color: white;
}
.whoText{
    flex:90%;
}

.meetMarriContainer{
    display: flex;
    flex-direction: row;
    margin-top:8%;
    border-bottom: 1px solid gray;
    padding-bottom:5%;
}
.meetMarriLeft{
    display:flex;
    flex-direction: column;
    flex:40%;
    
}
.meetMarriRight{
    flex:60%;
}
.meetMarriImage{
    flex:50%;
}
.meetMarriImage img{
    border-radius: 8px;
    width: 300px;
    height:350px;
}
.meetMarriSocials{
    display:flex;
    flex:50%;
    margin-top: 15px;
    margin-right: 25px;
    
}
.meetMarriSocials > div{
    flex:25%;
    text-align: center;
}






    
